@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


/* ------------------------------------------------------Estilos CSS para el encabezado ----------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }
}

header {
  font-family: 'EB Garamond', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(27, 22%, 92%);
  padding: 1rem;
  font-size: 1.2rem;
  color: rgb(6, 5, 5);
}

/* -----------------------------------------------------------------------------------Estilos CSS para el logo -----------------------------------------------------------------------------*/

header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/*------------------------------------------------------------ Estilos CSS para la lista de navegación -----------------------------------------------------------------------------------*/

.nav {
  font-family: 'EB Garamond', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
}

.nav li {
  margin: 0 10px;
}

.nav a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}

.nav a:hover {
  color: #ff0000;
}

/* Estilos CSS para el buscador */
.buscador {
  text-align: center;
  margin: 5px;
}

/* -----------------------------------------------------------------------Estilos CSS para bienvenida ---------------------------------------------------------------------------------*/

@media screen and (max-width: 768px) {
  .contenedor {
    grid-template-columns: 1fr;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 30px;
  }

  .imagen2 {
    width: 100%;
  }
}


.contenedor-titulo {
  font-size: 1rem;
  padding: 2rem;
  height: auto;
  max-width: none;
  margin: 20px auto;
  grid-column: 1 / span 2;
  font-family: 'EB Garamond', serif;
  background-color: #e6ece4;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-width: 800px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.imagen-contenedor-bienvenido {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagen2 {
  width: 300px;
  margin-top: 9px;
  margin-bottom: 9px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.bienvenido {
  font-size: 34px;
  color: #333;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}

.btn-challenge {
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #ccc;
  padding: 10px 20px;
  margin-right: 10px;
  transition: border-color 0.3s;
}

.btn-challenge:hover {
  border-color: #ff0000;
  color: #000000;
}





/* --------------------------------------------------------------------Estilos CSS para Autor --------------------------------------------------------------------------------------------*/

@media screen and (max-width: 768px) {
  .contenedor {
    grid-template-columns: 1fr; 
    grid-gap: 10px; 
  }
}

.contenedor-titulo {
  grid-column: 1 / span 2;
}

.contenedor-autor {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 20px;
  background-color: #ffffff;
  padding: 20px;
  padding-right: 350px;
  border: 3px solid #ccc;
  border-radius: 5px;
}

.autor-titulo {
  font-family: 'EB Garamond', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100px;
  font-size: 50px;
  color: rgb(42, 62, 62);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  border-radius: 5px;
  margin-bottom: 20px;
}

.autor-fav {
  text-align: left;
  font-size: 20px;
  line-height: 1.5;
  color: #333;
  margin: 0;
}

a.video {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.imagen1 {
  width: 300px;
  margin-left: 600px;
}

.contenedor-libro {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

@keyframes aparecer1 {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.contenedor-aparecer-autor1 {
  opacity: 0;
  transform: translateX(-20px);
  animation: aparecer1 0.5s ease-in-out forwards;
}

/* -------------------------------------------------Estilos CSS para lectura recomendada del mes ------------------------------------------------------------------------------------*/



.contenedor-libro {
  font-family: 'EB Garamond', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.titulo-libro {
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
  font-weight: bold;
  text-align: center;

}

.img4 {
  width: 350px;
  height: 350px;
  margin-right: 20px;
  border: 2px solid #333;
  border-radius: 5px;
}

.texto-recomendado {
  margin: 0;
  color: #555;
  font-weight: normal;
  text-decoration: none;
  text-align: center;

}

.contenedor-libro {
  opacity: 0;

  animation: aparecer 1s forwards;
  /* Duración de la animación  */
}

@keyframes aparecer {
  from {
    opacity: 3;

    transform: translateX(50px);
  }

  to {
    opacity: 6;

    transform: translateY(0);

  }
}



/* ----------------------------------------------------------------------------Estilos Footer ----------------------------------------------------------------------------------------------*/

footer {
  background-color: hsl(27, 22%, 92%);
  display: flex;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.contenedor-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacto,
.mapa {
  flex: 1;
  margin-top: 10px;

}

.contacto {
  margin-right: 20px;
}

.contacto h2,
.mapa h2 {
  color: #333;
  font-size: 15px;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #1e1818;
  border-radius: 4px;
}

textarea {
  height: 150px;
}

button {
  padding: 8px 16px;
  background-color: #151704;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.mapa iframe {
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* -------------------------------------------------------------------------------Estilos blog -----------------------------------------------------------------------------------------------*/

body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}

.col-lg-6,
.col-md-8,
.col-lg-3,
.col-md-2,
.col-lg-2 {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding: 10px;
}


.entrada {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.titulo {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.contenido {
  font-size: 14px;
  color: #666;
  line-height: 1.5;
}

.custom-button {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #c5b07c;
  color: #111;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #f7dfa5;
}



/* ------------------------------------------------------------------------------Redes Sociales --------------------------------------------------------------------------------------------*/
.meta {
  font-size: 14px;
  color: #999;
  margin-top: 10px;
}

.meta span {
  margin-right: 10px;
}

.contenedor-redes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.redes-sociales {
  margin-right: 20px;
}

.redes-sociales h2 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.redes-sociales ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.redes-sociales li {
  display: inline-block;
  margin-right: 10px;
}

.redes-sociales img {
  width: 30px;
  height: 30px;
}

.cpyrght {
  text-align: justify;
  font-size: 14px;
  color: #000000;
}



/* ---------------------------------------------------------------Estilos del botón "Leer más"--------------------------------------------------------------------------------------------- */

.boton-leer-mas {
  display: inline-block;
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.boton-leer-mas:hover {
  background-color: #0056b3;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* -----------------------------------------------------------------------Estilos Desafios -------------------------------------------------------------------------------------------------*/

.contenedor-desafio {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.entrada-desafio {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.titulo-desafio {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.contenido-desafio {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
}

/* -----------------------------------------------------------------------------------------Estilos del botón "Leer más" ----------------------------------------------------------------*/

.boton-leer-mas-desafio {
  display: inline-block;
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.boton-leer-mas:hover {
  background-color: #0056b3;
}

/* --------------------------------------------------------------------------Estilos Lecturas ----------------------------------------------------------------------------------------------*/

.contenedor-lecturas {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.entrada-lecturas img {
  width: 50%;
  height: auto;
}

.entrada-lecturas {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.titulo-lecturas {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.contenido-lecturas {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
}

/* -----------------------------------------------------------------------------Estilos del botón "Leer más"--------------------------------------------------------------------------------- */

.boton-leer-mas-lecturas {
  display: inline-block;
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.boton-leer-mas:hover {
  background-color: #0056b3;
}

img {
  width: 100%;
}


/* -----------------------------------------------------------------------Estilos Shop -----------------------------------------------------------------------------------------------------*/

.compra {
  width: 180px;
  height: 350px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  display: inline-block;
  text-align: center;
}

.compra img {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

.compra h3 {
  margin-bottom: 10px;
}

.compra p {
  margin-bottom: 20px;
}

.compra button {
  padding: 8px 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.compra button:hover {
  background-color: #45a049;
}