@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


/* ------------------------------------------------------Estilos CSS para el encabezado ----------------------------------------------------------------------------------------------------*/



/* Estilos para el encabezado */
header {
  background: linear-gradient(90deg, rgb(12, 3, 180) 0%, rgb(230, 42, 42) 0%, rgb(18, 24, 26) 98%);
  font-family: 'EB Garamond', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-size: 1.9rem;
}

/* Estilos para el logo */
header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  align-items: right;
}

/* Estilos para la lista de navegación */
.nav {
  display: flex;
  list-style: none;
}

.titulo-home, .titulo-blog, .titulo-lec, .titulo-desa {
  color: black;
}

.nav li {
  margin-right: 20px;
}

/* Media Query para dispositivos con un ancho máximo de 768px */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }

  header img {
    margin-bottom: 10px; /* Añade un margen inferior a la imagen en dispositivos más pequeños */
  }

  .nav {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #333; 
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }

  .nav.show {
    display: flex;
  }

  .nav li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}






/* -----------------------------------------------------------------------Estilos CSS para bienvenida ---------------------------------------------------------------------------------*/

.contenedor-titulo {
  font-size: 1rem;
  padding: 2rem;
  max-width: none;  
  margin: 20px auto;
  grid-column: 1 / span 2;
  font-family: 'EB Garamond', serif;
  background-color: #e6ece4;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 700px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.imagen-contenedor-bienvenido {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bienvenido {
  font-size: 34px;
  color: #333;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}

.btn-challenge {
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #ccc;
  padding: 10px 20px;
  margin-right: 10px;
  transition: border-color 0.3s;
}

.btn-challenge:hover {
  border-color: #ff0000;
  color: #000000;
}

/* Media Query para dispositivos móviles y tabletas */
@media screen and (max-width: 768px) {
  .contenedor-titulo {
    width: 100%; /* El contenedor ocupará todo el ancho disponible en dispositivos más pequeños */
    height: auto; /* La altura se ajustará automáticamente al contenido */
    max-width: 400px; /* Limita el ancho máximo en dispositivos móviles y tabletas */
  }

  .imagen-contenedor-bienvenido {
    justify-content: flex-start; /* Alinea la imagen al principio del contenedor */
  }

  .bienvenido {
    font-size: 28px; /* Reduce el tamaño del texto en dispositivos más pequeños */
    margin-bottom: 5px; /* Reduce el margen inferior del texto en dispositivos más pequeños */
  }
}



 




/* --------------------------------------------------------------------Estilos CSS mobile para Autor --------------------------------------------------------------------------------------------*/

/* Estilos para pantallas más pequeñas (dispositivos móviles) */
@media screen and (max-width: 767px) {
  .contenedor-autor {
    flex-direction: column; /* Cambia la dirección de la flexbox a columna */
    padding: 10px; /* Reduce el padding para dispositivos más pequeños */
  }

  .autor-titulo {
    font-size: 30px; /* Ajusta el tamaño del título para dispositivos más pequeños */
    margin-bottom: 10px;
  }

  .autor-fav {
    font-size: 16px; /* Ajusta el tamaño del texto de autor-fav para dispositivos más pequeños */
    padding-right: 0; /* Elimina el padding derecho */
    text-align: center; /* Centra el texto en dispositivos más pequeños */
  }

  .imagen1 {
    width: 150px; /* Reduce el tamaño de la imagen para dispositivos más pequeños */
    height: auto;
    padding: 10px;
    border-radius: 10%; /* Ajusta el radio de la esquina para que sea más suave */
  }

  .contenedor-aparecer-autor1 {
    transform: translateX(0); /* Anula la animación para dispositivos más pequeños */
    opacity: 1; /* Asegura que el contenido sea visible */
  }
}

/* Estilos para tabletas (pantallas medianas) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .autor-titulo {
    font-size: 40px; /* Ajusta el tamaño del título para tabletas */
  }
}


/* --------------------------------------------------------------------Estilos CSS  para Autor --------------------------------------------------------------------------------------------*/

.contenedor-autor{
  display: flex;
  grid-template-columns: 1fr 3fr;
  background-color: #ffffff;
  padding: 20px;
  border: 3px solid #ccc;
  border-radius: 5px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(1,67,105,1) 0%, rgba(0,212,255,1) 98%);
  

}
.autor-titulo  {
  font-family: 'EB Garamond', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 50px;
  font-size: 50px;
  color: rgb(42, 62, 62);
  display: flex;
  justify-content: center;
  border-radius: 5px;
  margin-bottom: 20px;
}

.autor-fav {
  font-size: 20px;
  color: #0e0d0d;
  padding-right: 30%;
}

a.video {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.imagen1 {
  width: 250px;
  height: auto;
  padding: 10px;
  border-radius: 15%;
}



@keyframes aparecer1 {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.contenedor-aparecer-autor1 {
  opacity: 0;
  transform: translateX(-40px);
  animation: aparecer1 1s ease-in-out forwards;
}


/* -------------------------------------------------Estilos CSS para lectura recomendada del mes ------------------------------------------------------------------------------------*/
.contenedor-libro {
  font-family: 'EB Garamond', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  opacity: 0;
  animation: aparecer 1s forwards;
}

.malaz {
  width: 250px;
  height: auto;
  padding: 10px;
  border-radius: 15%;
}

.texto-recomendado {
  font-size: 16px;
  color: rgb(42, 62, 62);
}

.contenido-libro {
  flex: 1; /* Para que ocupe el espacio restante en el contenedor */
  padding: 0 20px; /* Añadimos un espacio entre el texto y la imagen */
}

.imagen-libro {
  flex-basis: 250px; /* Tamaño fijo para la imagen */
  display: flex;
  justify-content: flex-end; /* Alineamos la imagen a la derecha */
  align-items: center; /* Centramos verticalmente la imagen */
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* -------------------------------------------------Estilos CSS Mobile  para lectura recomendada del mes ------------------------------------------------------------------------------------*/


/* Estilos para pantallas más pequeñas (dispositivos móviles) */
@media screen and (max-width: 767px) {
  .contenedor-libro {
    flex-direction: column; /* Cambia la dirección de la flexbox a columna */
    padding: 10px; /* Reduce el padding para dispositivos más pequeños */
  }

  .malaz {
    width: 150px; /* Reduce el tamaño de la imagen para dispositivos más pequeños */
    height: auto;
    padding: 5px; /* Reduce el padding para dispositivos más pequeños */
    border-radius: 10%; /* Ajusta el radio de la esquina para que sea más suave */
  }

  .contenido-libro {
    padding: 10px; /* Reduce el espacio entre el texto y la imagen */
  }

  .imagen-libro {
    flex-basis: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    justify-content: center; /* Centra la imagen horizontalmente */
  }
}

/* Estilos para tabletas (pantallas medianas) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .malaz {
    width: 200px; /* Ajusta el tamaño de la imagen para tabletas */
    height: auto;
    padding: 10px;
    border-radius: 10%;
  }
}






/* ----------------------------------------------------------------------------Estilos Contacto ----------------------------------------------------------------------------------------------*/

/* Estilos generales del footer */
main {
  background-color: #f2f2f2;
  padding: 30px 0;
}

.contenedor-footer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Estilos para los cards */
.card {
  flex: 1 0 30%; /* Ajustar el tamaño de los cards según el espacio disponible */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

/* Estilos para el formulario de contacto */
.contacto h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.contacto h2 {
  font-size: 18px;
  margin-bottom: 20px;
}

.contacto form {
  display: flex;
  flex-direction: column;
}

.contacto input,
.contacto textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contacto button {
  background-color: #2c3136;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contacto button:hover {
  background-color: #96db14;
}


/* Estilos para el mapa */
.mapa h2 {
  font-size: 18px;
  margin-bottom: 20px;
}

.mapa iframe {
  width: 100%;
  height: 300px;
  border: none;
  border-radius: 5px;
}

/* Estilos para las redes sociales */
.redes-sociales h2 {
  font-size: 12px;
  margin-bottom: 20px;
}

.redes-sociales ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.redes-sociales li {
  margin-right: 10px;
}

.redes-sociales img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}




/* -------------------------------------------------------------------------------Estilos blog -----------------------------------------------------------------------------------------------*/

body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}

.col-lg-6,
.col-md-8,
.col-lg-3,
.col-md-2,
.col-lg-2 {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding: 10px;
}


.entrada {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.titulo {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.contenido {
  font-size: 14px;
  color: #666;
  line-height: 1.5;
}

.custom-button {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #c5b07c;
  color: #111;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #f7dfa5;
}



/* ------------------------------------------------------------------------------Redes Sociales --------------------------------------------------------------------------------------------*/
.meta {
  font-size: 14px;
  color: #999;
  margin-top: 10px;
}

.meta span {
  margin-right: 10px;
}

.contenedor-redes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.redes-sociales {
  margin-right: 20px;
}

.redes-sociales h2 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.redes-sociales ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.redes-sociales li {
  display: inline-block;
  margin-right: 10px;
}

.redes-sociales img {
  width: 30px;
  height: 30px;
}

.cpyrght {
  text-align: justify;
  font-size: 14px;
  color: #000000;
}



/* ---------------------------------------------------------------Estilos del botón "Leer más"--------------------------------------------------------------------------------------------- */

.boton-leer-mas {
  display: inline-block;
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.boton-leer-mas:hover {
  background-color: #0056b3;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* -----------------------------------------------------------------------Estilos Desafios -------------------------------------------------------------------------------------------------*/
.desafio {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fff;
  padding: 20px;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Al inicio de la animación, la opacidad es 0 (transparente) */
  }
  to {
    opacity: 1; /* Al final de la animación, la opacidad es 1 (sólido) */
  }
}

.grid-container-desafio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  max-width: 600px; 
  margin: 0 auto; 
}

.contenedor-desafio {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

/* Estilos para las imágenes dentro de los contenedores */
.contenedor-desafio img {
  max-width: 100%; 
  height: auto; 
  border-radius: 4px 4px 0 0; 
}

/* Estilos para los elementos dentro de cada contenedor */
.titulo-desafio {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.contenido-desafio {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
}

.boton-leer-mas-desafio {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #2c3136;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.boton-leer-mas-desafio:hover {
  background-color: #e28f12;
}







/* --------------------------------------------------------------------------Estilos Lecturas ----------------------------------------------------------------------------------------------*/

/* Estilos para el contenedor principal */
.contenedor-principal-lecturas {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
  padding: 20px;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

/* Estilos para los contenedores de las cards */
.contenedor-lecturas {
  width: 300px;
  height: 700px; /* Altura fija para todas las cards */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px; /* Espacio entre las cards */
  transition: transform 0.3s ease; /* Efecto de transición */
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Evita que el contenido desborde el contenedor */
}

/* Efecto de transición al pasar el cursor sobre las cards */
.contenedor-lecturas:hover {
  transform: scale(1.05); /* Escala un 5% más grande al pasar el cursor */
}

/* Estilos para los títulos de las cards */
.titulo-lecturas {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #333;
  margin: 10px 0;
}

/* Estilos para el contenido de las cards */
.contenido-lecturas {
  align-items: center;
  font-size: 16px;
  color: #666;
  line-height: 1.5;
  height: 140px; 
  padding: 20px;
}

/* Estilos para los botones de las cards */
.boton-leer-mas-lecturas {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  background-color: #e6490b;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.boton-leer-mas-lecturas:hover {
  background-color: #62acfa;
}

/* Estilos para las imágenes de las cards */
.contenedor-lecturas img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Ajusta la imagen para cubrir todo el espacio disponible */
  border-radius: 4px 4px 0 0;
}



/* Estilos para footer */



footer {
  background-color: #333;
  color: #fff;
  padding: 50px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.col-md-4 {
  flex: 0 0 32%;
  margin-bottom: 30px;
}

h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

ul li a {
  color: #fff;
  text-decoration: none;
}

ul li a:hover {
  color: #ffcc00;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

form {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

input[type="email"] {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

button {
  background-color: #ffcc00;
  color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

button:hover {
  background-color: #ffd700;
}
